
<section class="oe_container oe_dark">
    <div class="oe_row">
       <h2 class="oe_slogan">Otorgar permiso para usar este modulo</h2>
       <div class="oe_span6">
            <p class='oe_mt32'>
            Para poder utilizar este modulo y toda la funcionalidad con la que cuenta
            es necesario configurar al usuario el permiso, una vez que el usaurio tiene el
            permiso habilitado, puede ver y hacer uso del mismo.
            </p>
        </div>
        <div class="oe_span6">
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="../clients_administration/static/description/view_form_block_client.png">
                <div class="oe_demo_footer oe_centeralign">Vistar formulario de usuario</div>
            </div>
        </div>

    </div>
</section>

<section class="oe_container">
    <div class="oe_row">
        <h2 class="oe_slogan">Menu bloqueo de clientes</h2>
        <div class="oe_span6">
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="../clients_administration/static/description/menu_lock_unlock_clients.png">
                <div class="oe_demo_footer oe_centeralign">Menus</div>
            </div>
        </div>
        <div class="oe_span6">
            <p class='oe_mt32'>
            Menus donde se ubican las vistas que tienen la funcionalidad del modulo,
            vistas formularios, algunos de estos menus, lanzan wizards de bloqueo masivo y de reporte.
            </p>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Bloqueo de clientes</h2>
        <div class="oe_span6">
            <p class='oe_mt32'>
            Este modulo tiene la funcionalidad para bloquear y desbloquear clientes
            quienes tienen adeudos que no han pagado hacia la empresa, cuenta con la
            caracteristica de bloqueo masivo, opciones para diferentes tipos de reportes
            PDF, csv, pantalla.
            </p>
        </div>
        <div class="oe_span6">
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="../clients_administration/static/description/view_form_block_client.png">
                <div class="oe_demo_footer oe_centeralign">Vista formulario</div>
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row">
        <h2 class="oe_slogan">Bloqueo masivo de clientes</h2>
        <div class="oe_span6">
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="../clients_administration/static/description/bloqueo_masivo.png">
                <div class="oe_demo_footer oe_centeralign">Bloqueo masivo</div>
            </div>
        </div>
        <div class="oe_span6">
            <p class='oe_mt32'>
            Al presionar el menu de bloqueo masivo de lanza un wizard con diferentes opciones a tomar en cuenta
            para realizar un bloqueo masivo de clientes, tomando en cuenta los filtros incluidos en el wizard,
            esta accion crea documentos de bloqueo.
            </p>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Reporte de clientes</h2>
        <div class="oe_span6">
            <p class='oe_mt32'>
            Al dar clic en este menu, se lanza un asistente con diferentes opciones para incluir en la busqueda de
            registros para el reporte, este asistente tiene las opciones de generar reporte PDF, csv, pantalla.
            </p>
        </div>
        <div class="oe_span6">
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="../clients_administration/static/description/view_report.png">
                <div class="oe_demo_footer oe_centeralign">Asistente de reporte</div>
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row">
        <h2 class="oe_slogan">Causa de bloqueo</h2>
        <div class="oe_span6">
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="../clients_administration/static/description/causas_de_bloqueo.png">
                <div class="oe_demo_footer oe_centeralign">Bloqueo masivo</div>
            </div>
        </div>
        <div class="oe_span6">
            <p class='oe_mt32'>
            En este menu se localiza la vista lista y formulario donde se pueden
            crear causas para incluir como motivo de causa de bloqueo, se a&ntilde;aden configuracion
            para que el motivo se tomado en cuenta para bloqueo masivo y el parametro a tomar en
            cuenta, saldos vencidos o limite de credito.
            </p>
        </div>
    </div>
</section>
