table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 4px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

div.warranty-date{
    position: absolute;
    top: 630px;
    page-break-inside: auto;
    width: 97%;
    border: 2px solid #000000;
}

div.signatures {
    position: absolute;
    top: 658px;
    page-break-inside: auto;
    width: 100%;
    border: 2px solid #000000;
}
