
<section class="oe_container oe_dark">
  <div class=oe_row>
    <h2 class="oe_slogan">Configuraci&oacute;n de predeterminados</h2>
    <div class="oe_span12 text-center">
      <h3 class='oe_mt32'>
        Configure los siguientes campos pre-determinados.
      </h3>
    </div>
    <div class="oe_span6">
        <div class="oe_screenshot" align="center">
            <img src="Configuracion.png">
        </div>
    </div>
  </div>
</section>

<section class="oe_container oe_dark">
  <div class=oe_row>
    <h2 class="oe_slogan">Configuraci&oacute;n de los usuarios</h2>
    <div class="oe_span12 text-center">
      <p class='oe_mt32'>
        Configure y determine los permisos de usuario.
        <br/>
        Administrador: tiene acceso a todo.
        <br/>
        Usuario: tiene acceso a todo menos catalogos y no puede crear diagnosticos.
        <br/>
        T&eacute;cnico: tiene acceso a todo menos catalogos y puede crear diagnosticos.
        <br/>
      </p>
    </div>
    <div>
        <div class="oe_screenshot" align="center">
            <img style="max-width: 100%" src="config_user_ws.png">
        </div>
    </div>
  </div>
</section>

<section class="oe_container oe_dark">
  <div class=oe_row>
    <h2 class="oe_slogan">Configuraci&oacute;n de prefijos de sucursales</h2>
    <div class="oe_span12 text-center">
      <p class='oe_mt32'>
        Configure los prefijos para cada sucursal.
      </p>
    </div>
    <div>
        <div class="oe_screenshot" align="center">
            <img style="max-width: 80%" src="Configuracion_prefijos.png">
        </div>
    </div>
  </div>
</section>

<section class="oe_container oe_dark">
  <div class=oe_row>
    <h3 class="oe_slogan">Configure los cat&aacute;logos de servicios, fallas y soluciones</h3>
    <div class="oe_span12 text-center">
      <p class='oe_mt32'>
        Cree los catalogos antes de usarlos.
      </p>
    </div>
    <div>
        <div class="oe_screenshot" align="center">
            <img style="max-width: 90%" src="Failures_catalogue.png">
            <div class="oe_demo_footer oe_centeralign">Cat&aacute;logo de fallas</div>
            <img style="max-width: 90%" src="Service_catalogue.png">
            <div class="oe_demo_footer oe_centeralign">Cat&aacute;logo de servicios</div>
            <img style="max-width: 90%" src="Solutions_catalogue.png">
            <div class="oe_demo_footer oe_centeralign">Cat&aacute;logo de soluciones</div>
        </div>
    </div>
  </div>
</section>

<section class="oe_container oe_dark">
  <div class=oe_row>
    <h2 class="oe_slogan">Cree una orden de servicio</h2>
    <div class="oe_span12 text-center">
      <p class='oe_mt32'>
        Procure llenar todos los campos.
      </p>
    </div>
    <div>
        <div class="oe_screenshot" align="center">
            <img style="max-width: 100%; max-height: 100%" src="service_order_creation.png">
        </div>
    </div>
  </div>
</section>

<section class="oe_container oe_dark">
  <div class=oe_row>
    <h2 class="oe_slogan">Asigne el t&eacute;cnico</h2>
    <div class="oe_span12 text-center">
      <p class='oe_mt32'>
        Presione el bot&oacute;n "Assign Technician" o traducido "Asignar T&eacute;cnico"
      </p>
    </div>
    <div>
        <div class="oe_screenshot" align="center">
            <img style="max-width: 80%" src="assign_technician.png">
        </div>
    </div>
  </div>
</section>

<section class="oe_container oe_dark">
  <div class=oe_row>
    <h2 class="oe_slogan">Diagn&oacute;stico del t&eacute;cnico</h2>
    <div class="oe_span12 text-center">
      <p class='oe_mt32'>
        Presione el bot&oacute;n "Diagnosis"
      </p>
    </div>
    <div>
        <div class="oe_screenshot" align="center">
            <img style="max-width: 80%" src="tech_diagn.png">
        </div>
    </div>
  </div>
</section>

<section class="oe_container oe_dark">
  <div class=oe_row>
    <h2 class="oe_slogan">Asigne una nota de cr&eacute;dito o genere la salida por defecto directamente</h2>
    <div>
        <div class="oe_screenshot" align="center">
            <img style="max-width: 80%" src="sd_or_cn.png">
            <h2>Asigne una nota de cr&eacute;dito</h2>
            <img style="max-width: 80%" src="credit_note.png">
            <h2>Genere una salida por defecto</h2>
            <img style="max-width: 80%" src="sd_1.png">
            <img style="max-width: 80%" src="sd_2.png">
        </div>
    </div>
  </div>
</section>

<section class="oe_container oe_dark">
  <div class=oe_row>
    <h2 class="oe_slogan">Enviar SD's a sucursal</h2>
    <div class="oe_span12 text-center">
      <p class='oe_mt32'>
        Seleccione las SD's y env&iacute;elas a sucursal
      </p>
    </div>
    <div>
        <div class="oe_screenshot" align="center">
            <img style="max-width: 80%" src="send_to_branch.png">
        </div>
    </div>
  </div>
</section>

<section class="oe_container oe_dark">
  <div class=oe_row>
    <h2 class="oe_slogan">Administre el tr&aacute;fico</h2>
    <div class="oe_span12 text-center">
      <p class='oe_mt32'>
        La sucursal que reciba este documento puede seleccionar las SD que si recibi&oacute;
        y dejar sin checar las que no recibi&oacute;, al momento de "Guardar"
        las SD que esten checadas indican como recibidas, las que no esten checadas
        se rechazan y se envian a corporativo para que puedan volver a enviar
      </p>
    </div>
    <div>
        <div class="oe_screenshot" align="center">
            <img style="max-width: 80%" src="traffic.png">
        </div>
    </div>
  </div>
</section>
