table {
    border: 2px solid #555;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    padding: 8px;
    margin: 8px;
    width: 100%;
}
/*td, th {
    border: 0px solid #dddddd;
    text-align: left;
    padding: 8px;
    margin: 8px;
}*/

