
<section class="oe_container oe_dark">
    <div class="oe_row">
       <h2 class="oe_slogan">Usuario administrador</h2>
       <div class="oe_span6">
            <p class='oe_mt32'>
            El usuario administrador es el unico usuario que puede ver la pesta&ntilde;a
            donde se encuentran los botones para eliminar ya sea todos los registros
            del sistema o bien, solo de algunos modulos especificos.
            </p>
        </div>
        <div class="oe_span6">
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="../clean_data/static/description/view_module.png">
                <div class="oe_demo_footer oe_centeralign">Pesta&ntilde;a donde se encuentran los botones</div>
            </div>
        </div>

    </div>
</section>

<section class="oe_container">
    <div class="oe_row">
        <h2 class="oe_slogan">Eliminar datos del sistema</h2>
        <div class="oe_span6">
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="../clean_data/static/description/view_confirmation.png">
                <div class="oe_demo_footer oe_centeralign">Eliminar datos del sistema</div>
            </div>
        </div>
        <div class="oe_span6">
            <p class='oe_mt32'>
            Al hacer clic en el bot&oacute;n Eliminar datos del sistema, se despliega una ventana
            de confirmaci&oacute;n, si queremos avanzar hay que presionar el bot&oacute;n aceptar para que
            despliega la siguiente ventana.
            </p>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Vista eliminaci&oacute;n de datos de algunos modulos</h2>
        <div class="oe_span6">
            <p class='oe_mt32'>
            Esta ventana contiene los botones de reseteo de algunos modulos, tales como, ventas, compras, contabilidad, almacen etc.
            </p>
        </div>
        <div class="oe_span6">
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="../clean_data/static/description/view_reset_modules.png">
                <div class="oe_demo_footer oe_centeralign">Botones de eliminaci&oacute;n</div>
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row">
        <h2 class="oe_slogan">Confirmar eliminaci&oacute;n</h2>
        <div class="oe_span6">
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="../clean_data/static/description/view_confirmation_delete.png">
                <div class="oe_demo_footer oe_centeralign">Confirmar eliminaci&oacute;n</div>
            </div>
        </div>
        <div class="oe_span6">
            <p class='oe_mt32'>
            Al presionar alguno de los botones que se muestran en la vista, se abre
            una segunda ventana para confirmar la acci&oacute;n de eliminar los datos del modulo.
            Al hacer clic en el bot&oacute;n acepta, se ejecuta la acción de eliminar los registros.
            </p>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Eliminaci&oacute;n completa de registros</h2>
        <div class="oe_span6">
            <p class='oe_mt32'>
            Si se requiere eliminar todos los registros de la base de datos,
            se debe utilizar el bot&oacute;n, eliminar todos los datos del sistema,
            al hacerlo se abre una ventana que contiene un solo bot&oacute;n, al presionarlo
            se pide que confirme la acci&oacute;n, esto eliminara todos los registros
            de los modelos que se agregaron a la acci&oacute;n. Esta acci&oacute; puede tardar algunos minutos.
            </p>
        </div>
        <div class="oe_span6">
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="../clean_data/static/description/view_full_reset.png">
                <div class="oe_demo_footer oe_centeralign">Eliminaci&oacute;n completa</div>
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row">
        <h2 class="oe_slogan">Modelos que se agregaron para eliminar sus tablas</h2>
        <div class="container">
  <p>En la tabla se listan los modelos y a que modulo pertenece cada uno</p>
  <table class="table">
    <thead>
      <tr>
        <th>Modelo</th>
        <th>Modulo</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>sale.order.line</td>
        <td>sale</td>
      </tr>
      <tr>
        <td>sale.order</td>
        <td>sale</td>
      </tr>
      <tr>
        <td>crm.lead</td>
        <td>crm</td>
      </tr>
      <tr>
        <td>crm.case.section</td>
        <td>sales_team</td>
      </tr>
      <tr>
        <td>account.analytic.line</td>
        <td>account_analytic_analysis</td>
      </tr>
      <tr>
        <td>account.analytic.invoice.line</td>
        <td>account_analytic_analysis</td>
      </tr>
      <tr>
        <td>account.analytic.account</td>
        <td>analytic</td>
      </tr>
      <tr>
        <td>account.invoice.line</td>
        <td>account</td>
      </tr>
      <tr>
        <td>price.list</td>
        <td>price_list</td>
      </tr>
      <tr>
        <td>res.partner.bank</td>
        <td>base</td>
      </tr>
      <tr>
        <td>res.partner.bank.type</td>
        <td>base</td>
      </tr>
      <tr>
        <td>res.bank</td>
        <td>l10n_mx_p</td>
      </tr>
      <tr>
        <td>regimen.fiscal</td>
        <td>l10n_mx_regimen_fiscal</td>
      </tr>
      <tr>
        <td>pay.method</td>
        <td>l10n_mx_payment_method</td>
      </tr>
      <tr>
        <td>crm.case.categ</td>
        <td>crm</td>
      </tr>
      <tr>
        <td>crm.case.stage</td>
        <td>crm</td>
      </tr>
      <tr>
        <td>crm.tracking.source</td>
        <td>crm</td>
      </tr>
      <tr>
        <td>crm.tracking.campaign</td>
        <td>crm</td>
      </tr>
      <tr>
        <td>crm.payment.mode</td>
        <td>crm</td>
      </tr>
      <tr>
        <td>project.project</td>
        <td>project</td>
      </tr>
      <tr>
        <td>project.task</td>
        <td>project</td>
      </tr>
      <tr>
        <td>project.category</td>
        <td>project</td>
      </tr>
      <tr>
        <td>account.voucher.line</td>
        <td>account_voucher</td>
      </tr>
      <tr>
        <td>account.voucher</td>
        <td>account_voucher</td>
      </tr>
      <tr>
        <td>account.bank.statement.line</td>
        <td>account</td>
      </tr>
      <tr>
        <td>account.bank.statement.line</td>
        <td>account</td>
      </tr>
      <tr>
        <td>account.invoice</td>
        <td>account</td>
      </tr>
      <tr>
        <td>account.move.line</td>
        <td>account</td>
      </tr>
      <tr>
        <td>account.move</td>
        <td>account</td>
      </tr>
      <tr>
        <td>account.invoice.tax</td>
        <td>account</td>
      </tr>
      <tr>
        <td>cfdi.sign</td>
        <td>cfdi33</td>
      </tr>
      <tr>
        <td>advance.payment</td>
        <td>client_advance_payment</td>
      </tr>
      <tr>
        <td>deposit.file</td>
        <td>deposit_file</td>
      </tr>
      <tr>
        <td>gv.saldos.cliente</td>
        <td>saldos_clientes_proveedores</td>
      </tr>
      <tr>
        <td>gv.cuenta.cliente</td>
        <td>saldos_clientes_proveedores</td>
      </tr>
      <tr>
        <td>gv.saldos.proveedor</td>
        <td>saldos_clientes_proveedores</td>
      </tr>
      <tr>
        <td>gv.cuenta.proveedor</td>
        <td>saldos_clientes_proveedores</td>
      </tr>
      <tr>
        <td>dni.dni</td>
        <td>depositos_no_identificados</td>
      </tr>
      <tr>
        <td>documentos.bancarios</td>
        <td>doc_bancarios</td>
      </tr>
      <tr>
        <td>ingresos.egresos</td>
        <td>doc_bancarios</td>
      </tr>
      <tr>
        <td>cfdi.table</td>
        <td>cfdi33</td>
      </tr>
      <tr>
        <td>related.document.cfdi</td>
        <td>cfdi33</td>
      </tr>
      <tr>
        <td>cash.back</td>
        <td>cash_back</td>
      </tr>
      <tr>
        <td>inter_pagos.pago</td>
        <td>inter_pagos</td>
      </tr>
      <tr>
        <td>account.check.deposit</td>
        <td>account_check_deposit</td>
      </tr>
      <tr>
        <td>account.check</td>
        <td>account_check</td>
      </tr>
      <tr>
        <td>account.bank_transfert</td>
        <td>account_bank_transfert</td>
      </tr>
      <tr>
        <td>payment.order</td>
        <td>account_payment</td>
      </tr>
      <tr>
        <td>payment.line</td>
        <td>client_advance_payment</td>
      </tr>
      <tr>
        <td>bank.payment.line</td>
        <td>account_banking_payment_export</td>
      </tr>
      <tr>
        <td>account.asset.asset</td>
        <td>account_asset</td>
      </tr>
      <tr>
        <td>account.subscription.line</td>
        <td>account</td>
      </tr>
      <tr>
        <td>account.subscription</td>
        <td>account</td>
      </tr>
      <tr>
        <td>account.model</td>
        <td>account</td>
      </tr>
      <tr>
        <td>ifrs.lines</td>
        <td>ifrs_report</td>
      </tr>
      <tr>
        <td>ifrs.ifrs</td>
        <td>ifrs_report</td>
      </tr>
      <tr>
        <td>account_followup.followup</td>
        <td>account_followup</td>
      </tr>
      <tr>
        <td>account.journal</td>
        <td>account</td>
      </tr>
      <tr>
        <td>account.common.report</td>
        <td>account</td>
      </tr>
      <tr>
        <td>account.analytic.journal</td>
        <td>account</td>
      </tr>
      <tr>
        <td>payment.mode</td>
        <td>account_payment</td>
      </tr>
      <tr>
        <td>payment.mode.type</td>
        <td>account_banking_payment_export</td>
      </tr>
      <tr>
        <td>account.statement.operation.template</td>
        <td>account</td>
      </tr>
      <tr>
        <td>purchase.order.line</td>
        <td>purchase</td>
      </tr>
      <tr>
        <td>purchase.order</td>
        <td>purchase</td>
      </tr>
      <tr>
        <td>purchase.requisition.line</td>
        <td>purchase_requisition</td>
      </tr>
      <tr>
        <td>purchase.requisition</td>
        <td>purchase_requisition</td>
      </tr>
      <tr>
        <td>catalogo.garantias</td>
        <td>catalogo_de_garantias</td>
      </tr>
      <tr>
        <td>product.pricelist</td>
        <td>product</td>
      </tr>
      <tr>
        <td>product.pricelist.version</td>
        <td>product</td>
      </tr>
      <tr>
        <td>product.price.type</td>
        <td>product</td>
      </tr>
      <tr>
        <td>stock.quant</td>
        <td>stock</td>
      </tr>
      <tr>
        <td>stock.quant.package</td>
        <td>stock</td>
      </tr>
      <tr>
        <td>stock.quant.move.rel</td>
        <td>stock</td>
      </tr>
      <tr>
        <td>stock.move</td>
        <td>stock</td>
      </tr>
      <tr>
        <td>stock.pack.operation</td>
        <td>stock</td>
      </tr>
      <tr>
        <td>stock.picking</td>
        <td>stock</td>
      </tr>
      <tr>
        <td>stock.picking.type</td>
        <td>stock</td>
      </tr>
      <tr>
        <td>stock.scrap</td>
        <td>stock</td>
      </tr>
      <tr>
        <td>stock.inventory.line</td>
        <td>stock</td>
      </tr>
      <tr>
        <td>stock.inventory</td>
        <td>stock</td>
      </tr>
      <tr>
        <td>stock.production.lot</td>
        <td>stock</td>
      </tr>
      <tr>
        <td>stock.fixed.putaway.strat</td>
        <td>stock</td>
      </tr>
      <tr>
        <td>make.procurement</td>
        <td>procurement</td>
      </tr>
      <tr>
        <td>procurement.group</td>
        <td>procurement</td>
      </tr>
      <tr>
        <td>document.inventory.line</td>
        <td>documents_inventory</td>
      </tr>
      <tr>
        <td>document.inventory.type</td>
        <td>documents_inventory</td>
      </tr>
      <tr>
        <td>document.inventory</td>
        <td>documents_inventory</td>
      </tr>
      <tr>
        <td>document.reference</td>
        <td>documents_inventory</td>
      </tr>
      <tr>
        <td>history.stock</td>
        <td>reports</td>
      </tr>
      <tr>
        <td>account.cost.center</td>
        <td>account_cost_center</td>
      </tr>
      <tr>
        <td>stock.warehouse</td>
        <td>stock</td>
      </tr>
      <tr>
        <td>stock.location</td>
        <td>stock</td>
      </tr>
      <tr>
        <td>configuration.assortment.type</td>
        <td>stock</td>
      </tr>
      <tr>
        <td>configuration.assortment</td>
        <td>stock</td>
      </tr>
      <tr>
        <td>stock.warehouse.orderpoint</td>
        <td>stock</td>
      </tr>
      <tr>
        <td>procurement.rule</td>
        <td>procurement</td>
      </tr>
      <tr>
        <td>stock.location.route</td>
        <td>stock</td>
      </tr>
      <tr>
        <td>stock.location.route</td>
        <td>stock</td>
      </tr>
      <tr>
        <td>stock.location.path</td>
        <td>stock</td>
      </tr>
      <tr>
        <td>configuration.document.type</td>
        <td>ticket</td>
      </tr>
      <tr>
        <td>configuration.delivery.carrier</td>
        <td>ticket</td>
      </tr>
      <tr>
        <td>delivery.carrier</td>
        <td>delivery</td>
      </tr>
      <tr>
        <td>delivery.grid.line</td>
        <td>delivery_method</td>
      </tr>
      <tr>
        <td>delivery.grid</td>
        <td>delivery_method</td>
      </tr>
      <tr>
        <td>mrp.workcenter.productivity</td>
        <td>mrp</td>
      </tr>
      <tr>
        <td>mrp.production.workcenter.line</td>
        <td>mrp</td>
      </tr>
      <tr>
        <td>mrp.production</td>
        <td>mrp</td>
      </tr>
      <tr>
        <td>mrp.production.product.line</td>
        <td>mrp</td>
      </tr>
      <tr>
        <td>mrp.unbuild</td>
        <td>mrp</td>
      </tr>
      <tr>
        <td>change.production.qty</td>
        <td>mrp</td>
      </tr>
      <tr>
        <td>operation.time.line</td>
        <td>mrp_operations_time_control</td>
      </tr>
      <tr>
        <td>mrp.repair</td>
        <td>mrp_repair</td>
      </tr>
      <tr>
        <td>mrp.subproduct</td>
        <td>mrp_byproduct</td>
      </tr>
      <tr>
        <td>mrp.bom.line</td>
        <td>mrp</td>
      </tr>
      <tr>
        <td>mrp.bom</td>
        <td>mrp</td>
      </tr>
      <tr>
        <td>mrp.operation.workcenter</td>
        <td>mrp_operations_extension</td>
      </tr>
      <tr>
        <td>mrp.routing.operation</td>
        <td>mrp_operations_extension</td>
      </tr>
      <tr>
        <td>mrp.routing</td>
        <td>mrp</td>
      </tr>
      <tr>
        <td>mrp.routing.operation</td>
        <td>mrp_operations_extension</td>
      </tr>
      <tr>
        <td>mrp.workcenter</td>
        <td>mrp</td>
      </tr>
      <tr>
        <td>mrp.property.group</td>
        <td>mrp</td>
      </tr>
      <tr>
        <td>fleet.vehicle.model</td>
        <td>fleet</td>
      </tr>
      <tr>
        <td>fleet.vehicle.model.brand</td>
        <td>fleet</td>
      </tr>
      <tr>
        <td>fleet.service.type</td>
        <td>fleet</td>
      </tr>
      <tr>
        <td>res.company.facturae.certificate</td>
        <td>l10n_mx_facturae_cer</td>
      </tr>
      <tr>
        <td>payment.acquirer</td>
        <td>payment</td>
      </tr>
      <tr>
        <td>payment.transaction</td>
        <td>payment</td>
      </tr>
      <tr>
        <td>params.pac</td>
        <td>l10n_mx_params_pac</td>
      </tr>
      <tr>
        <td>mail.message.subtype</td>
        <td>mail</td>
      </tr>
      <tr>
        <td>mail.message</td>
        <td>mail</td>
      </tr>
      <tr>
        <td>mail.notification</td>
        <td>mail</td>
      </tr>
      <tr>
        <td>ir.mail_server</td>
        <td>base</td>
      </tr>
      <tr>
        <td>fetchmail.server</td>
        <td>fetchmail</td>
      </tr>
      <tr>
        <td>mail.followers</td>
        <td>fetchmail</td>
      </tr>
      <tr>
        <td>ir.attachment</td>
        <td>base</td>
      </tr>
      <tr>
        <td>res.users</td>
        <td>base</td>
      </tr>
      <tr>
        <td>res.partner</td>
        <td>base</td>
      </tr>
      <tr>
        <td>piramide_de_pago</td>
        <td>piramide_de_pago</td>
      </tr>
      <tr>
        <td>product.template</td>
        <td>product</td>
      </tr>
      <tr>
        <td>product.category</td>
        <td>product</td>
      </tr>
      <tr>
        <td>product.segment</td>
        <td>product</td>
      </tr>
    </tbody>
  </table>
</div>
    </div>
</section>
