



<section class="container">
    <div class="oe_row oe_spaced" style="width:100%;margin-top: 30px;">
            <div class="contct_us_btn" style="padding:7px;margin: 0 auto;display: block;width: 20%;background-color: #087dda;text-align: center;">
            	<a style="color:white;font-size:20px;" href="http://www.emiprotechnologies.com/odoo-apps-support" target="_blank">Get Support</a>
            </div>
    </div>
</section>
