<section class="oe_container" style="background-color:#3071A9;">
<p style="font-size:23px;color:#ffffff;padding:15px;font-weight:normal;text-align:center;">
<i>Let's begin with few words of Trust about our this App from our Customer !</i>
</p>
</section>

<section class="oe_container">
    <div class="oe_row">
        <div class="oe_span" style="">
         <div style="float:left;">
        <p class='oe_mt32' style="color:#1604DF;float:left;line-height:27px;font-size:20px;word-spacing:-1px;">
        <img src="customer_feedback.png" 
        style="float:left;width:170px;margin-right:25px;margin-bottom:15px;"> 
        <i>
"For every seller in Amazon, one of the main things to take care of, is Seller Rating, and we dare to say 
that after implementing Emipro's module to manage Amazon related stuffs in Odoo, it boosted our seller 
rating to new high ! System atomization is 'key' of this module. With no fuss, we were able to use this 
module,  and due to that, we were able to deliver goods to our customer within given timeline, and update 
it's status to Odoo in no time! Next great think which impressed us, are many different types of reporting,
 which system generates based on Amazon data. It helped us a lot to take certain decisions, and due to 
 that, we were able to achieve our sales target, and that really huge thing for sales team. We also had 
 many other things to manage for our ERP, and Emipro Delivered that, with conventional. As we are managing 
 our products with third party warehouse (TPW), with the solution of Emipro, we are now managing it with 
 ease in Odoo, and our manual work (as well as ratio of error) came down to almost 0 ! Main USP of Emipro 
 is what we figured out, is the knowledge of ERP, and the way they handle our project, is commendable. 
 Nothing more to say for Emipro. They are simply 'The Best' !"    	   
        </i>
      <div style="float:right;color:black;margin-top:10px;font-size:25px;">-- Andreas Uhlig, +49421595740, CEO, Andreas Uhlig GmbH & Co KG, Germany</div>
        </p>

        <p class='oe_mt32' style="color:#1604DF;float:left;line-height:27px;font-size:20px;word-spacing:-1px;">

        <i>
"We are working with Emipro since month of August 2015 and I am really impressed by their professionalism 
and commitment to our Odoo project. Specially they helped me to move my whole Amazon Sales including Amazon
 FBA to Odoo sucessfully. I have worked with quite some companies from abroad already, but Emipro is 
 definitely one of the most professional companies I have ever worked with. They have got very good 
 knowledge of all e-commerce related business processes and always know a solution for each and every 
 problem we are facing in our current business process. But what I like most about them is that they are 
 really thinking from our business perspective. They are looking with a critical eye at each customization 
 we are requesting and are trying to understand the purpose behind it. Often they come up with a very 
 easy solution which did not even require any customization at all. They know Odoo very well and that 
 helps a lot! Emipro is a young committed team with an awesome attitude! They already became a very 
 valuable source for our business and I can recommend them to everyone who wants to integrate Odoo for 
 their Amazon business."    	   
        </i>
      <div style="float:right;color:black;margin-top:10px;font-size:25px;">-- Jonas Tank, CEO, Ecom Brands GmbH, Germany</div>
        </p>
        
 
        </div>
        </div>
    </div>
</section>


<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Amazon Odoo Connector</h2>
        <h3 class="oe_slogan">Integrate & Manage your Amazon seller account operations from Odoo</h3>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row">
    	<p class='oe_mt32'>
It is being very much essential to integrate your Amazon seller account with Odoo, if you are a seller on Amazon Marketplace and using Odoo for all other business operations. 
Amazon Marketplace is Amazon.com's fixed-price online Marketplace which enables sellers to offer their new and used items alongside Amazon's regular offerings. 
Emipro offers an easy connector module for Amazon to manage all necessary operations from Odoo for Merchant fulfilment Network of Amazon. 
Our Odoo-Amazon connector module automates your vital business processes and eliminates the need for manual data entry in Odoo by enabling bi-directional data exchange between Amazon Marketplace and Odoo. 
Also, this module saves your time by instantly entering items and inventory data from your Odoo instance into Amazon and automatically importing Amazon orders and customer data into Odoo. 
After installation of our module, there is no need to log in to your Amazon account to make updates to your data.
        </p>
    </div>
</section>
<section class="container">
    <div class="oe_row oe_spaced" style="width:45%;">
           <a style="color:white;font-size:28px;font-family: &quot;Lato&quot;, &quot;Open Sans&quot;, &quot;Helvetica&quot;, Sans;font-weight: bold;word-spacing: 2px;" href="http://bit.ly/2LWVwr3" target="_blank"> <div class="contct_us_btn" style="padding:23px;margin: 0 auto;display: block;background-color: #8F3F79;text-align: center;font-weight: bold;box-shadow: 2px 1px 12px 3px #ece6e6;">
            	Request a Free Demo<div></div>
            </div></a>
    </div>
</section>


<section class="oe_container">
    <div class="oe_row" style="margin-bottom:2%;">
        <h2 class="oe_slogan" style="letter-spacing: -1px !important;">Highlights</h2>
        	
		<div class="oe_row" style="margin-bottom:4%;margin-top:0%;">
			<img src="Amazon-Odoo-Connector-FBM.png" style="display:block;margin:0px auto;width:100%;" />	
		</div>
    </div>
</section>



<section class="oe_container">
    <div class="oe_row">
        <h2 class="oe_slogan">Amazon Instance management was never been easy before in Odoo</h2>
        <h3 class="oe_slogan">A clean & beautiful dashboard with everything in one screen</h3>

            <p class='oe_mt32'>
            Our Amazing navigation dashboard is an overview of all of Amazon operations at a glance.
            From the dashboard itself, you will be able to easily execute any operation for Amazon or navigate to any useful data directly.
            By clicking on main menu <i>"Amazon"</i>, you will able to see beautiful dashboard containing all Amazon navigation menus in one screen.
            You will able to see no. of records at each box in red fonts. Clicking on each box will navigate you to respective screens.
            </p>	
    </div>
    <div class="oe_row">
		<img  src="MFN1.png" style="display:block;margin:0px auto;width:100%;" >	
	</div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row">
        <h3 class="oe_slogan">Setup &amp; Configure your Seller Account and Amazon Instances</h3>
        <div class="oe_span6">
            <p class='oe_mt32'>
After installation of this module, you will able to see the option for Amazon Seller configuration under 
'<i>Settings >> Configuration >> Amazon</i>' menu. Be sure that user is under 'Amazon Manager' group. 
Here you can select preconfigured Amazon sellers from list or if no any seller configured, then you can
click on link 'Create more Seller' in order to create new one. While defining a Seller account, Access Key, 
Secret Key and Merchant Id is must necessary. Upon successfully defining your seller account, it's time to
load marketplace per each seller wise. To do so, you need to go to menu 'Amazon >> Configuration >> Sellers' and open
particular seller. Clicking on 'Load Marketplace' button, will automatically get all your marketplaces for 
that seller. Once all marketplaces are loaded, you can start to configure Amazon Instances per each seller. 
In order to start Amazon integration into Odoo, Seller and Instance must need to configured properly. You can check your Amazon 
Connection and change the Amazon Credentials into Amazon Instance screen when needed.   
            </p>
        </div>
        <div class="oe_span6">
            <div class="oe_bg_img">
                <img class="oe_picture oe_screenshot" src="MFN2.png">
            </div>
        </div>
         <div class="oe_span6">
            <div class="oe_bg_img">
                <img class="oe_picture oe_screenshot" src="MFN5.png">
            </div>
        </div>
                <div class="oe_span6">
            <div class="oe_bg_img">
                <img class="oe_picture oe_screenshot" src="MFN3.png">
            </div>
        </div>
                <div class="oe_span6">
            <div class="oe_bg_img">
                <img class="oe_picture oe_screenshot" src="MFN4.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row">
        <h3 class="oe_slogan">Configure necessary parameters per each Amazon Instance</h3>
        <p class='oe_mt32'>
            After you define &amp; create your Amazon Sellers and Instances successfully, you can configure other necessary Amazon parameters in Amazon configuration screen. 
            By selecting any Seller, you will see list of necessary parameters to be set for that Instance. Some of the options are mandatory and some of them are optional.
            We recommend you to properly set options like Warehouse, Default Customer, Auto Workflow, Pricelist, Order Prefix & Stock prior to sync Amazon with Odoo. 
        </p>
    </div>
    <div class="oe_row">
            <div class="oe_bg_img">
                <img src="MFN6.png" style="display:block;margin:0px auto;width:80%;">
            </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row">
        <h3 class="oe_slogan">Configure auto Invoice & Payment workflow setting per each Amazon Instance </h3>

            <p class='oe_mt32'>
            Per each Amazon Instance, you can configure Auto Workflow settings. We recommend you to configure Auto Invoice & Payment workflow properly before sync with Amazon.
            Improper configuration of Auto Invoice & Payment workflow setting, may lead to runtime problems while integration of sale orders from Amazon to Odoo. 
            With Auto workflow setting, user can decide whether to create automatic Invoice and register payment when Amazon Orders are synchronised with Odoo. 
            We suggest to configure Journal, Shipping & Invoice policy in Auto Workflow setting under menu '<i> Amazon >> Configuration >>  Auto Sales Workflow </i>' menu
            and set it per Instance under "Auto Workflow" field.     
            </p>
    </div>
        <div class="oe_row">
            <div class="oe_bg_img">
                <img src="MFN7.png" style="display:block;margin:0px auto;width:80%;">
            </div>
    </div>
</section>



<section class="oe_container oe_dark">
    <div class="oe_row">
        <h3 class="oe_slogan">Execute all Amazon operations from one pop up screen</h3>
        <div class="oe_span6">
            <p class='oe_mt32'>
				By clicking on "Perform Operation" box in dashboard, a pop up will open with all Amazon Import / Export operations.
				You can select one or more Amazon Instances and execute one or more operations in single click. 
				As per number options selected in pop up, time to execute operation will be increased at Odoo. 
				So if you select multi instances or more operations, system may take more time for bi-directional data exchange between Amazon Marketplace and Odoo.   
            </p>
        </div>
        <div class="oe_span6">
            <div class="oe_bg_img">
                <img class="oe_picture oe_screenshot" src="MFN8.png">
            </div>
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row">
        <h3 class="oe_slogan">View last Amazon sync. history and modify Amazon credentials</h3>
        <div class="oe_span6">
            <div class="oe_bg_img">
                <img class="oe_picture oe_screenshot" src="MFN4.png">
            </div>
        </div>
        <div class="oe_span6">
            <p class='oe_mt32'>
                Once you configure your Amazon Instance under <i> "Settings >> Configuration >> Amazon" </i> menu, those instances will be available over 
                under <i> "Amazon >> Configuration >> Instances" </i> menu. You can open each Instance and in details view, you will able to see Last sync history
                for Catelog, Inventory, Product Images operations. Here in this screen you can also check your Amazon credentials or modify them by clicking on "Amazon Credential" button.  
                  
            </p>
        </div>
    </div>
</section>
<section class="oe_container oe_dark">
    <div class="oe_row">
        <h3 class="oe_slogan">Amazon Browse Nodes</h3>
        <div class="oe_span6">
            <p class='oe_mt32'>
            Amazon uses a hierarchy of nodes to organize its items for sale. 
            Each node represents a collection of items for sale. 
            Browse node IDs are positive numbers that uniquely identify product collections, for example, Literature & Fiction: (17), Medicine: (13996), Mystery & Thrillers: (18), Nonfiction: (53), Outdoors & Nature: (290060).
            Per each Amazon Instance, you can Import browse nodes in Odoo. 
            We have given some of the base browse nodes in our module. You can import more browse nodes by "Perform Operation" box in dashboard.
            In each browse node, you can assign Odoo product category and select that browse node in each product.
            While exporting product to Amazon from Odoo, if browse node is assigned to products, 
            then those products will be automatically listed under those categories in Amazon. 
                 
            </p>
        </div>
        <div class="oe_span6">
            <div class="oe_bg_img">
                <img class="oe_picture oe_screenshot" src="MFN9.png">
            </div>
        </div>
    </div>
</section>
<section class="oe_container oe_dark">
    <div class="oe_row">
        <h3 class="oe_slogan">Variation Product Attribute Configuration</h3>
        <div class="oe_span6">
            <p class='oe_mt32'>
            	If you want to create Variation product in ERP, then you must first create product attributes like size,color,memory,etc. This is default feature provided by odoo. If you want to export variation products in Amazon, then you must map amazon attribute with odoo attribute.
            	When you install Amazon module at that time system will automatically create all amazon categories & attributes, you just need to select proper category & 
            	child category (if child category is available). When you select category than after system will show you all attributes of selective category. Here you must
            	select correct amazon attribute, otherwise when you export product in amazon then system will map wrong attribute for export in Amazon.

				Here we are selecting category & child category just to find an correct attribute. And if many attributes are same then user can easily find which attiribute
				is use for which category.                 
            </p>
        </div>
        <div class="oe_span6">
            <div class="oe_bg_img">
                <img class="oe_picture oe_screenshot" src="MFN29.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row">
        <h3 class="oe_slogan">Variation Product Configuration</h3>
            <p class='oe_mt32'>
				After configuring attributes, you need to do configuration in product. In variant tab, you must select amazon category/variationtheme.
				If you select Variation Theme, it means that this product will export in Amazon as Variation Product. After selecting Variation theme, you must
				select Parent SKU. Parent SKU is required because if one product have 6 variants then amazon will create 6 variants in amazon & create 1 product 
				as virtual product & set Parent SKU in virtual product, Customer can not purchase virtual product from Amazon.
				
				If You not select Variation Theme then system will export as individual item in Amazon.
				
				After That In Product Attributes, you can select product Attributes, and it will load all attributes of selective category.				
            </p>
		</div>
		<div class="oe_row">
	         <div class="oe_span6">
	            <div class="oe_bg_img">
	                <img class="oe_picture oe_screenshot" src="MFN_30.png">
	            </div>
	         </div>
	         <div class="oe_span6">
	            <div class="oe_bg_img">
	                <img class="oe_picture oe_screenshot" src="MFN_31.png">
	            </div>
	         </div>
        </div>
</section>

<section class="oe_container">
    <div class="oe_row">
        <h3 class="oe_slogan">Prepare products for Export & update Images, Price at Amazon</h3>
            <p class='oe_mt32'>
                You can see Prepared products for Amazon under '<i>Amazon >> Products >> Products </i>' menu. 
                You can't create Amazon products directly from here. In order to create products for Amazon, 
                You need to go to menu '<i>Sales >> Products >> Products</i>' and in list view of product, 
                select one or more products which you want to export to Amazon.
                At the top side, under the 'More' section, you will find an option 
                <span style='font-weight:bold;'>'Prepare Product for Export'</span>. 
                Clicking on that option, you will be asked to select Amazon Instance.
                After those products successfully prepared for Amazon, you can see all of them over here in 
                this menu. 
			 </p>
			 <p>	
				Here you can see three manu items.
			 </p>		
			 <p>		
				<b>1.Variation Products:</b><br/>			
					Here user can see all variation product (Parent Product of variation product) & inside product form view, user can see Variants tab. 
					In which you can find all variants of selective parent product (You can perform Variation related any operation from this menu item).
					In list of products, you can select them and export them with Details, Images or Update price to Amazon.
					If you select product and perform operation with amazon (Export/update) then system will automatically perform with all variations items.
					Ex:- if you export one product from list view then system will automatically export all variants in Amazon.
             </p>
             <p>
				<b>2.Non-Variation Products:</b><br/>
					Here user can see all non-variation product, and can not see any variation product variants.
					In list of products, you can select them and export them with Details, Images or Update price to Amazon.					
			</p>
			<p>
				<b>3.All Variations:</b><br/>
					User can find any variants for Variation-Non-Variation Product.(User must not perform operation from this menu item)
                However here you can open those products and add more Amazon specific attribute values to products. Once all products are well configured with proper values, you can export 
                them to Amazon. <br/><br/>
            <p>
				In Amazon Product you can configure All amazon attributes & catalog attributes. In odoo products, if you have select Variation theme then system
				will set two attrbibutes automatically in Amazon product (Variation Theme/Parentage) <br/>
			</p>
			<p>			
				In Amazon Product by default system will set relation type as Variation, but later-on, user can change in In Amazon product ! <br/>
		    </p
		    <p>		
				In Amazon Product, you can configure Catalog Attribute as well. If you have select product category in Odoo product then user can select
				all category attributes & set value as well.<br/>
			</p>
			<p>
				Most important feature of this module is you can export product in Any category & no need to create attributes manually, user  can select it & use it.<br/><br/>
			</p>
			<p>							
				If You have register Brand in Amazon then you no need to select product ASIN/UPC/EAN13 number then you should do following  configuration. <br/>
					
					1.You just select brand in Odoo template & set Manufacturer inside Brand.<br/>
					
					2.You must select Standard Product ID  as GCID.<br/>
			</p>
			<p>					
				If You are selling product in USA, then Item Type Keyword must be required by Amazon for sale product in selective category.			
				For US Sellers, you can't allow to set Browse Node, If you set Browse Node then amazon will ignore it.				
				Amazon is not providing any API to get Item-Type Keyword, you can find from amazon seller central Account.<br/><br/>
			</p>				
			<p>
			You Can configure Other Amazon attributes like.	<br/>		
				1.Features & Search Terms.<br/>
				2.Other Attributes like(Used For, Target Audience, Subject Content, Other Attributes, Platinum Keywords)<br/>
				3.Promotion & Discount <br/>
				4.Rebate<br/>
				5.CPSIAWarning, TSDWarning, TSDLanguage, TSDAgeWarning<br/>
				6.Description & Disclaimer<br/>
				7.General Product Listing Elements Like(Browse Node ,Item Type,Product Tax Code,Condition,etc..) <br/>

				If product is not existing in Amazon then also You can export new product in Amazon but you must configure 
				All catalog attribute/value properly.<br/><br/>
			</p>
			<p>

                In list of products(Varation/Non-Variation), you can select them and export them with Details, Images or 
                Update price to Amazon. In order <span style='font-weight:bold;color:red;'><u><i>to export product images to Amazon</i></u></span>, you need to go to menu 
                '<i>Sales >> Products >> Product Variants</i>' and open any product for which you want to set Images for Amazon account.
                Under 'Images' Tab, you can set images and that will be exported in Amazon from Odoo.                     
			</p>           
		</div>
		<div class="oe_row">
	         <div class="oe_span6">
	            <div class="oe_bg_img">
	                <img class="oe_picture oe_screenshot" src="MFN_32.png">
	            </div>
	         </div>
	         <div class="oe_span6">
	            <div class="oe_bg_img">
	                <img class="oe_picture oe_screenshot" src="MFN_33.png">
	            </div>
	         </div>
        </div>
		<div class="oe_row">
	         <div class="oe_span6">
	            <div class="oe_bg_img">
	                <img class="oe_picture oe_screenshot" src="MFN_34.png">
	            </div>
	         </div>
	         <div class="oe_span6">
	            <div class="oe_bg_img">
	                <img class="oe_picture oe_screenshot" src="MFN_35.png">
	            </div>
	         </div>
        </div>
		<div class="oe_row">
	         <div class="oe_span6">
	            <div class="oe_bg_img">
	                <img class="oe_picture oe_screenshot" src="MFN_36.png">
	            </div>
	         </div>
	         <div class="oe_span6">
	            <div class="oe_bg_img">
	                <img class="oe_picture oe_screenshot" src="MFN_37.png">
	            </div>
	         </div>
        </div>

</section>

<section class="oe_container oe_dark">
    <div class="oe_row">
        <h3 class="oe_slogan">Amazon Sale Order</h3>
            <p class='oe_mt32'>
            You can see Amazon Sale orders at the menu <i> Amazon >> Sales >> Sales Orders (FBM) </i>.
            </p>
            <p>
              You can't create Sale Order manually and push it to Amazon. Through only import Sale Order from
                    any of your Amazon Instance, you can see your Orders here. Import Sale Order can be performed by 2 ways. 
             	     </p>
                  <p>
                  <span style="font-weight:bold;">1. </span><u>To import Sale Orders via automatic jobs at frequent amount of time.</u> <br/>
                  Go to amazon cron jobs from Dashboard and click on 'Amazon Cron' box. 
                  At there, activate automatic Job for Import Order from Amazon.
                  However from Amazon settings you can set your preferred timings for auto import Sale Order from Amazon.
                  </p>
                  <p>
                  <span style="font-weight:bold;">2. </span><u>Manually Import the Sale Orders at any time </u><br/> 
                  Go to menu <i>'Amazon >> Amazon &lt;=> Odoo  >> Amazon Operations'</i> and select your instances and option 'Sale Order' 
                  under the 'Import Operations (FBM)' section. 
                  Clicking on 'Execute' button will import all <span style='font-weight:bold;'>Unshipped/Partial Shipped</span> 
                  orders from Amazon to Odoo.
                  </p>
                  <p> 
                  At list of Amazon Sale Orders, you will see a sign if Order is not updated at Amazon. Once you ship full order from your warehouse and complete the delivery order at Odoo, 
                  Shipment will be automatic updated at Amazon and here in list view of Sale Orders, sign will be changed in order to indicate you that order is marked as completed to Amazon.
                  </p>
        </div>
    	<div class="oe_row">
			<img  src="MFN12.png" style="display:block;margin:0px auto;margin-bottom:35px;width:80%;" >	
		</div>
</section>
<section class="oe_container">
    <div class="oe_row">
        <h3 class="oe_slogan">Cancel Order at Amazon with specific reason</h3>
        <div class="oe_span6">
            <div class="oe_bg_img">
                <img class="oe_picture oe_screenshot" src="MFN13.png">
            </div>
        </div>
        <div class="oe_span6">
            <p class='oe_mt32'>
               You can cancel any order at Amazon directly from Odoo. 
               Once you cancel the shipment, your Order will be in Shipping Exception stage and there will
                be an option "Cancel in Amazon" will be visible in Sale Order.By clikcing on it, one pop up will be open and 
                you will be asked to select a specific return reason.
                Selecting any option and clikcing on "Cancel Order" button will make direct update at Amazon and your order will be canceled straight away at Amazon too.  
            </p>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row">
        <h3 class="oe_slogan">Refund the Order at Amazon from Odoo </h3>

            <p class='oe_mt32'>
            	You can refund at Amazon from Odoo. Go to menu <i>'Amazon >> Refund Orders >> Refund'</i> 
            	and create new record.
            	Select and of your "Done / Shipping Exception" sale order and it's order lines will be automatically created as 
            	Refund lines. Here you can remove product lines for which you 
            	don't want to make refund. You can open each lines and set the refund amount by distribute it to different kind of fees and set the refund message at Amazon.
            	In our module, we have provided 2 types of refund configuration per each Amazon Instance. 
            	Go to menu <i>'Settings >> Configuration >> Amazon'</i> and select any instance from Dropdown for particular Seller.
            	Go to bottom area and you will see "Refund/Return Information" setting. You can set those options as per need. 
        	</p>
        	<p>
        	 <span style="font-weight:bold;">1.Auto Create Return Picking ?  </span><br/>
                  Once you validate your refund order, system will make auto update at Amazon and create automatic return picking in Odoo.
                  For product to be added in Return Picking from refund order validation, it is must required that you select option either 'NoInventory' or 'CustomerCancel' for field "Message" in refund order line.
                   
             </p>
             <p>
                  <span style="font-weight:bold;">2.Auto Create Refund ? </span> <br/>
                  Once you validate your refund order, system will make auto update at Amazon and create a refund invoice in Odoo. 
              </p> 
        	

    </div>
    <div class="oe_row">
			<img  src="MFN14.png" style="display:block;margin:0px auto;margin-bottom:35px;width:80%;" >	
	</div>
</section>
<section class="oe_container">
    <div class="oe_row">
        <h3 class="oe_slogan">Export Shipping details with package tracking number to Amazon</h3>


            <p class='oe_mt32'>
                For update your shipment tracking no. to Amazon from Odoo, go to delivery order and click on "Transfer" button.
                There will be pop up will open with list of products to be shipped to customers. Create new destination package and select it.
                In that package set your parcel tracking number in "Additional Reference" field. Once the auto scheduled job for update shipment status will run, 
                parcel number will automatically updated at Amazon.    
            </p>

    </div>
    <div class="oe_row">
			<img  src="MFN15.png" style="display:block;margin:0px auto;margin-bottom:35px;width:80%;" >	
	</div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row">
        <h3 class="oe_slogan">Update Product price to Amazon</h3>
            <p class='oe_mt32'>
            Based on Pricelist selected on each Instance, your product's price can be updated directly at Amazon.
            You can select specific products from list and click on "Update Price in Amazon" option or go to Amazon Operations pop up, 
            select one or more instances and select "Update product price" option to set price for all your Amazon products in single click.       
            </p>
    </div>
    <div class="oe_row">
	         <div class="oe_span6">
	            <div class="oe_bg_img">
	                <img class="oe_picture oe_screenshot" src="MFN16.png">
	            </div>
	         </div>
	         <div class="oe_span6">
	            <div class="oe_bg_img">
	                <img class="oe_picture oe_screenshot" src="MFN17.png">
	            </div>
	         </div>
        </div>
</section>
<section class="oe_container">
    <div class="oe_row">
        <h3 class="oe_slogan">Live (On the fly) stock update at Amazon</h3>

            <p class='oe_mt32'>
                With this feature, once you update your delivery order, stock will be updated at Amazon instantly.
                You can configure this option per instance wise. In order to do this setting, you need to go to 
                menu "<i>Settings >> Configuration >> Amazon </i>" and at each instance, that option will be visible under
                stock information section. You can enable/disable this option at any time upon requirement.     
            </p>

    </div>
        <div class="oe_row">
			<img  src="MFN18.png" style="display:block;margin:0px auto;margin-bottom:35px;width:80%;" >	
	</div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row">
        <h2 class="oe_slogan">Set automatic jobs per Instance wise</h2>
        <h3 class="oe_slogan">Odoo will do it for you. So you don't have to.</h3>
            <p class='oe_mt32'>
            Per each Amazon Seller, you can set automatic jobs for export Stock, Order Status, Import and Process Amazon settlement reports and Import FBM Sales Orders to Odoo.
            In order to do this setting, you need to go to menu "<i>Settings >> Configuration >> Amazon </i>" and at each seller
            you can see this options under Amazon Seller option.
            Once you set and click on Apply, you can see those schedule jobs by clicking on 'Amazon Cron'
             box at Amazon dashboard. 
            At there you can modify timings of automatic jobs upon your requirement.         
            </p>
    </div>
    <div class="oe_row">
			<img  src="MFN19.png" style="display:block;margin:0px auto;margin-bottom:35px;width:80%;" >	
	</div>
</section>
<section class="oe_container">
    <div class="oe_row">
        <h2 class="oe_slogan">Amaze Sales Analysis Reports</h2>
        <h3 class="oe_slogan">Make better Sales decisions, faster.</h3>
        <p class='oe_mt32'>
        With our amazing and advanced data visualization &amp; discovery for your Amazon Sales, you can wow your executive team with visual representations 
        of your FBM Sales results, create a culture of daily accountability, visualize your entire FBM 
        sale`s health in one screen as well as save your valuable time by eliminating the need to 
        aggregate and communicate raw data.
        </p>
    </div>
    <div class="oe_row">
			<img  src="MFN22.png" style="display:block;margin:0px auto;margin-bottom:35px;width:100%;" >	
	</div>
	    <div class="oe_row">
			<img  src="MFN21.png" style="display:block;margin:0px auto;margin-bottom:35px;width:80%;" >	
	</div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row">
        <h3 class="oe_slogan">Track feed submission history to Amazon requests from Odoo</h3>
        <div class="oe_span6">
            <p class='oe_mt32'>
            Our module submits feeds to Amazon during exporting stock, products, shipment status and price from Odoo. 
            Sometimes due to technical reasons or missing required informations in feed then you will not get desired results at your Amazon account. 
            In those cases, you can track submitted feeds history by clicking on 
            'Feed History' box on Amazon dashboard. This information may useful to technical persons rather then end users.          
            </p>
        </div>
        <div class="oe_span6">
            <div class="oe_bg_img">
                <img class="oe_picture oe_screenshot" src="MFN23.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row">
        <h3 class="oe_slogan">Copy products from one Instance to other Amazon Instance</h3>
        <div class="oe_span6">
            <div class="oe_bg_img">
                <img class="oe_picture oe_screenshot" src="MFN24.png">
            </div>
        </div>
        <div class="oe_span6">
            <p class='oe_mt32'>
                With this feature, you can direct copy all or selected products from one instance to another. 
                So there will be no double entry to same products for another instance. In order to do this, 
                go to menu "<i>Amazon >> Configuration >> Instances </i>" and open any instance. At top side 
                under the "More" section, you will find an option "Copy Products by Instance". Clicking on it,
                one pop up will be open to select source and destination Instances. 
                You can select specific products to be copied by unselecting "Copy All Products" option. 
                        
            </p>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row">
        <h2 class="oe_slogan">Amazon Settlement/Payment reports</h2>
        <div class="oe_span6">
            <div class="oe_bg_img">
                <img class="oe_picture oe_screenshot" src="MFN27.png">
            </div>
            <div class="oe_bg_img">
                <img class="oe_picture oe_screenshot" src="MFN28.png">
            </div>
        </div> 
               
        <div class="oe_span6">
            <p class='oe_mt32'>
Amazon provides the Settlement/Payment Reports to 
view information about your payments related to sales and operational activity for your Amazon account.
Settlement reports provide a detailed breakdown of your account activity for a given settlement period.
Settlement reports are generated regularly by amazon, and you can download them in Odoo from  
manually at menu '<i>Amazon >> Amazon &lt;==> Odoo >> List settlement reports</i>'.
Clicking on 'Get Report List' button, Odoo will download your settlement reports from Amazon for 
given date period. You can see all of your settlement reports from the menu 
'<i>Amazon >> Reports >> Settlement Statements </i>'. Those all reports you can see per seller wise.
Odoo will download your reports and after that status of those reports will be in 'Done' state. 
It means, report has been processed from Amazon side but it has not yet updated in Odoo. 
By clicking on button 'Process Statement',  in any unprocessed statement will automatically create 
the Amazon/Bank statement in Odoo. Here, Important thing to note down is till all the statement lines are not reconciled with proper accounts,
 your Amazon bank statement user will not be able closed. Odoo will take default Journal for your bank 
 statement which is configured in your particular Amazon Instance screen inside 'Settlement Report Journal'
  field. In your Odoo bank statement, all of your Amazon subscription, commission fees or other 
  transaction type will be reconcile automatically with the accounts you have configured over 
  'Settlement Report Settings' Tab inside Seller screen and on the menu 
  <i>'Amazon >> Configuration >> Sellers'</i>.
   Once all your statement 
lines will be properly reconciled, all of your related Amazon invoices will automatically marked as Paid.   
            </p>
        </div>
       
    </div>
</section>

<section class="oe_container">
    <div class="oe_row">
        <h3 class="oe_slogan">Amazon Invoices</h3>
    </div>
    <div class="oe_row">
			<img  src="MFN25.png" style="display:block;margin:0px auto;margin-bottom:35px;width:80%;" >	
	</div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row">
        <h3 class="oe_slogan">Amazon Credit Notes / Refunds</h3>
    </div>
	    <div class="oe_row">
			<img  src="MFN26.png" style="display:block;margin:0px auto;margin-bottom:35px;width:80%;" >	
	</div>
</section>
<!--
</section>
<section class="oe_img_bg" >
<div style="width:100%;">
<img src="emipro_add.png" style="width:100%;display:block;margin:0px auto;" />
</div>
</section>
<br>
<section class="oe_container" style="background-color:#3071A9">
<h2 class="oe_slogan" style="font-size:40px;color:#ffffff;padding-top: 30px;padding-bottom:10px;">Want to see Demo ?</h2>
<p style="padding-bottom:25px;text-align:center;">
            <a style="color:#ffffff;font-weight:bold;" target="_blank" href="http://www.emiprotechnologies.com/requestquote">&nbsp;Contact Us&nbsp;</a>
</p>      
</section>
<br>
<br>
<section class="oe_container"><h2 class="oe_slogan">Help and Support.</h2>
<div class="oe_slogan">
            <span class="fa fa-envelope fa-1x" style="color:#7c7bad;"></span><span><a style="color:#7c7bad;" target="_blank" href="http://www.emiprotechnologies.com/requestquote">&nbsp;Help&nbsp;</a></span>
            <span class="fa fa-road fa-1x" style="color:#7c7bad;"></span><span><a style="color:#7c7bad;" target="_blank" href="http://www.emiprotechnologies.com/generate_support_ticket">&nbsp;Support&nbsp;</a></span>
            <span class="fa fa-wrench fa-1x" style="color:#7c7bad;"></span><span><a style="color:#7c7bad;" target="_blank" href="http://www.emiprotechnologies.com/requestquote">&nbsp;Request new Features</a></span>
</div>
</section>
-->

<div class="oe_row oe_spaced">      	
        	<h2 class="oe_slogan">You may also like</h2>
        	
				<div style="max-width:1000px;width: auto;margin: 0 auto;display:block">
			
					<div class="col-xs-4 mt16">
					 <a href="https://apps.odoo.com/apps/modules/12.0/intercompany_transaction_ept/" target="_blank"><img class="img img-responsive" src="Inter-Company-Transaction_covor.jpg" style="box-shadow:unset;max-height: unset;max-width: 100%;width: auto;float:left;"></a>
				</div>
				<div class="col-xs-4 mt16">
					 <a href="https://apps.odoo.com/apps/modules/12.0/rma_ept/" target="_blank"><img class="img img-responsive" src="RMA__Odoo_Covor.jpg" style="box-shadow:unset;max-height: unset;max-width: 100%;width: auto;float:left;"></a>
				</div>
				<div class="col-xs-4 mt16">
					 <a href="https://apps.odoo.com/apps/modules/11.0/amazon_all_in_one/" target="_blank"><img class="img img-responsive" src="All-in-one-Amazon-cover.jpg" style="box-shadow:unset;max-height: unset;max-width: 100%;width: auto;float:left;"></a>	
				</div>
				<div class="col-xs-4 mt16">
					 <a href="https://apps.odoo.com/apps/modules/12.0/amazon_vendor_central_ept/" target="_blank"><img class="img img-responsive" src="cover-img.jpg" style="box-shadow:unset;max-height: unset;max-width: 100%;width: auto;float:right;"></a>
				</div>
				<div class="col-xs-4 mt16">
					 <a href="https://apps.odoo.com/apps/modules/12.0/advance_purchase_ordering_ept/" target="_blank"><img class="img img-responsive" src="Reorder_cover.jpg" style="box-shadow:unset;max-height: unset;max-width: 100%;width: auto;float:left;"></a>	
				</div>
				<div class="col-xs-4 mt16">
					 <a href="https://apps.odoo.com/apps/modules/12.0/edi_ftp_integration/" target="_blank"><img class="img img-responsive" src="Odoo-Dropshipper-Solution-Cover.jpg" style="box-shadow:unset;max-height: unset;max-width: 100%;width: auto;float:right;"></a>
				</div>
				<div class="col-xs-4 mt16">
					 <a href="https://www.odoo.com/apps/modules/11.0/cdiscount_ept/" target="_blank"><img class="img img-responsive" src="cdiscount-Odoo-Connector.jpg" style="box-shadow:unset;max-height: unset;max-width: 100%;width: auto;float:right;"></a>
				</div>
				<div class="col-xs-4 mt16">
					 <a href="https://www.odoo.com/apps/modules/12.0/ebay_ept/" target="_blank"><img class="img img-responsive" src="ebay_main_screen.jpg" style="box-shadow:unset;max-height: unset;max-width: 100%;width: auto;float:right;"></a>
				</div>
				<div class="col-xs-4 mt16">
					 <a href="https://www.odoo.com/apps/modules/11.0/bol_ept/" target="_blank"><img class="img img-responsive" src="odoo_Bol.com_connector_cover_store.jpg" style="box-shadow:unset;max-height: unset;max-width: 100%;width: auto;float:left;"></a>
				</div>
				
		</div>
			
</div>




<section class="container">
    <div class="oe_row oe_spaced" style="width:100%;margin-top: 30px;">
            <div class="contct_us_btn" style="padding:7px;margin: 0 auto;display: block;width: 20%;background-color: #087dda;text-align: center;">
            	<a style="color:white;font-size:20px;" href="http://www.emiprotechnologies.com/odoo-apps-support" target="_blank">Get Support</a>
            </div>
    </div>
</section>

