<section class="oe_container container">
    <div class="oe_row oe_spaced row spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan text-center">IFRS reports engine</h2>
            <h3 class="oe_slogan text-muted text-center">International finance report Standards Engine.</h3>
        </div>
        <div class="oe_span6 col-md-6 mt16">
            <div class="oe_demo oe_picture oe_screenshot">
                <a href="https://www.vauxoo.com/apps/addons-vauxoo/ifrs_report">
                    <img class="img img-responsive shadow mb16" src="screen1.png"/>
                </a>
            </div>
        </div>
        <div class="oe_span6 col-md-6 mt16">
            <p class="oe_mt32 mt32">
                Here you will find an engine to build your reports in a way that they will be compatible with <a href="http://www.ifrs.org/Pages/default.aspx">ifrs standards</a>
            </p>
            <div class="oe_centeralign oe_websiteonly">
                <a href="http://www.openerp.com/start?app=crm" class="oe_button oe_big oe_tacky tacky btn btn-danger">Start your
                    <span class="oe_emph">free</span> trial
                </a>
            </div>
        </div>
    </div>
</section>
<section class="oe_container container">
    <div class="oe_row oe_spaced row spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan text-center">One line/One behavior</h2>
            <h3 class="oe_slogan text-muted text-center">Every line in your report will have an auditable meaning.</h3>
        </div>
        <div class="oe_span6 col-md-6 mt16">
            <div class="oe_demo oe_picture oe_screenshot">
            <a href="https://www.openerp.com">
                <img class="img img-responsive shadow mb16" src="https://www.evernote.com/shard/s158/sh/9efb31d4-b63f-4e70-9b46-23fbeb9e6f54/e2202df2af96d2966e1d5ec27d903881/deep/0/IFRS---Odoo.png"/>
            </a>
            </div>
        </div>
        <div class="oe_span6 col-md-6 mt16">
            <p class="oe_mt32 mt32">
                With this engine you will be able to manage the behavior of every line for the purpose you mean it must be used, in order to use you financial reports to audit 100% the behavior of your company.
            </p>
        </div>
    </div>
</section>
<section class="oe_container container">
    <div class="oe_row oe_spaced row spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan text-center">Fully documented</h2>
            <h3 class="oe_slogan text-muted text-center">All the necesary inforamtion necesary to use the tool right in front of you.</h3>
        </div>
        <div class="oe_span6 col-md-6 mt16">
            <p class="oe_mt32 mt32">
                Every field is explained deeply in order to help accountants to use them own terminology to generate them reports with this tool.
            </p>
        </div>
        <div class="oe_span6 col-md-6 mt16">
            <div class="oe_demo oe_picture oe_screenshot">
            <a href="https://www.openerp.com">
                <img class="img img-responsive shadow mb16" src="https://www.evernote.com/shard/s158/sh/4234a784-acc8-42a6-873f-c49005b6a6d7/88bef0ae9f6410b9b665fbeb04cf51b0/deep/0/IFRS---Odoo.png"/>
            </a>
            </div>
        </div>
    </div>
</section>
