<section class="oe_container oe_dark">
  <div class=oe_row>
    <h2 class="oe_slogan">Funcionamiento del m&oacute;dulo de tarjetas de cr&eacute;dito.</h2>
    <div style="width: 60em;">
         <p class='oe_mt32'>
           Modulo para dar de alta las tarjetas de cr&eacute;dito y d&eacute;bito con los meses y el porcentaje de los meses que aplican.
           <br>
           Este m&oacute;dulo hereda los nombres de los bancos del m&oacute;dulo de Bancos que se encuentra en <br>Contabilidad --> miscel&aacute;nea --> Bancos.
         </p>
     </div>
     <div style="width: 60em;">
         <div class="oe_demo oe_picture oe_screenshot">
             <img src="../charges_to_cards/static/description/alta_tarjetas.png">
             <div class="oe_demo_footer oe_centeralign">Vista de altas de nuevas tarjetas</div>
         </div>
     </div>
 </div>
</section>

<section class="oe_container oe_dark">
  <div class="oe_row">
    <div class="oe_span12">
      <p class="oe_mt32">
        Para registrar las nuevas tarjetas de los bancos es necesario ir al men&uacute; principal apartado Contabilidad --> Bancos y cajas --> A&ntilde;adir tarjetas de cerdito --> clic en el bot&oacute;n crear.
      </p>
    </div>
    <div class="oe_span12">
      <div class="oe_demo oe_picture oe_screenshot">
          <img src="../charges_to_cards/static/description/Alta_tarjetas_1.png">
      </div>
    </div>
  </div>
</section>

<section class="oe_container oe_dark">
  <div class="oe_row">
    <div class="oe_span12">
      <p class="oe_mt32">
        Se tiene que dar de alta las tarjetas con los datos necesarios.
      </p>
    </div>
    <div class="oe_span12">
      <div class="oe_demo oe_picture oe_screenshot">
          <img src="../charges_to_cards/static/description/tarjetas_registradas.png">
      </div>
    </div>
  </div>
</section>

<section class="oe_container oe_dark">
  <div class="oe_row">
    <div class="oe_span12">
      <p class="oe_mt32">
        Cuando ya est&aacute;n registradas las tarjetas ya se tienen que visualizar en los m&oacute;dulos de Cotizaciones y Pedidos de ventas, para hacer la asignaci&oacute;n del tipo de banco en el modulo
        de Cotizaciones se tiene que entrar a una cotizaci&oacute;n pendiente y se tiene que seleccionar el tipo de envi&oacute; y el tipo de la tarjeta del banco.
      </p>
    </div>
    <div class="oe_span12">
      <div class="oe_demo oe_picture oe_screenshot">
          <img src="../charges_to_cards/static/description/cotizacion.png">
      </div>
    </div>
  </div>
</section>

<section class="oe_container oe_dark">
  <div class="oe_row">
    <div class="oe_span12">
      <p class="oe_mt32">
        Una vez dentro del m&oacute;dulo de Cotizaciones le mostrara un listado con todas cotizaciones en status borrador, seleccione cualquier cotizaci&oacute;n y mostrara los datos de dicha cotizaci&oacute;n.
      </p>
    </div>
    <div class="oe_span12">
      <div class="oe_demo oe_picture oe_screenshot">
          <img src="../charges_to_cards/static/description/cotizaciones_shipin.png">
      </div>
    </div>
  </div>
</section>

<section class="oe_container oe_dark">
  <div class="oe_row">
    <div class="oe_span12">
      <p class="oe_mt32">
        Una vez seleccionada la cotizaci&oacute;n nos mostrara una pantalla con la informaci&oacute;n de la cotizaci&oacute;n, como la siguiente pantalla.
      </p>
    </div>
    <div class="oe_span12">
      <div class="oe_demo oe_picture oe_screenshot">
          <img src="../charges_to_cards/static/description/info_cotizacion_2.png">
          <div class="oe_demo_footer oe_centeralign">cuando se selecciona la cotizaci&oacute;n esta es la informaci&oacute;n que tiene la cotizaci&oacute;n. </div>
      </div>
    </div>
  </div>
</section>

<section class="oe_container oe_dark">
  <div class="oe_row">
    <div class="oe_span12">
      <p class="oe_mt32">
        La informaci&oacute;n que se ve en la imagen anterior de la cotizaci&oacute;n, contiene dos datos.
        La informaci&oacute;n del producto de la cotizaci&oacute;n y el tipo de envi&oacute;, para seleccionar el tipo de tarjeta hay que ir a la parte inferior izquierda donde dice nombre del banco.
        Dar clic esto desplegara una lista con todas las tarjetas registradas previamente, si la tarjeta no est&aacute; registrada se tiene que dirigirse al m&oacute;dulo de contabilidad.
        Contabilidad --> Banco y Caja --> A&ntilde;adir tarjetas de cr&eacute;dito.
      </p>
    </div>
    <div class="oe_span12">
      <div class="oe_demo oe_picture oe_screenshot">
          <img src="../charges_to_cards/static/description/tarjestas_registradas.png">
          <div class="oe_demo_footer oe_centeralign">
            Cuando se seleccione cualquier tarjeta al momento de darle clic autom&aacute;ticamente se agregar&aacute; al registro de la cotizaci&oacute;n.
            Si se quiere cambiar de banco se pude hacer sin problema alguno seleccion&eacute; el nuevo banco y el registro que tenía anterior mente lo borrar para insertar el nuevo cambio.
          </div>
      </div>
    </div>
  </div>
</section>
